.post-main-div-container{
	height: auto;
	width: 100%;
	margin-top: 10px;
	background-color: white;
	padding-top: 2%;
	z-index: 9;
	border-bottom: 1px solid lightgrey;
}
.post-main-div-wrapper{
	/*background-color: cyan;*/
	width: 96%;
	height: 94%;
	margin-left: 2%;
	margin-right: 2%;
}
.post-name-action-container{
	display: table;
	height: 40px;
	width: 100%;
}
.post-profile-pic-container{
	display: table-cell;
	height: 40px;
	width:40px;
	/*background-image: url('../img/propic.png');*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	/*background-color: lightgreen;*/
	cursor: pointer;
}
.post-activity-name-time-wrapper{
	display: table-cell;
	padding-left: 8px;
	width: calc(92% - 50px);
	vertical-align: middle;
	line-height: 20px;
	text-align: left;
}
.post-name-activity-container{
	font-family: roboto_bold;
	color:#365899;
	font-size: 14px;
	letter-spacing: 0;
	text-align: left;
}
.name-span-container{
	cursor: pointer;
}
.name-span-container:hover{
	text-decoration: underline;
	color:#365899;
}
.post-activity-time-container{
	width: 100%;
	font-family: roboto_regular;
	font-size: 12px;
	color:#90949c;
	letter-spacing: 0;
	cursor: pointer;
}
.post-activity-time-container:hover{
	text-decoration: underline;
	color:#90949c;
}


/*==============body=============*/
.post-body-container{
	display: table;
	margin-top: 10px;
	height: 450px;
	width: 100%;
	background-color: white;
}

.post-image-wrapper-one{
	height:100px;
	width:100%;
	background-color: lightgrey;
	padding-bottom: 10px;
	border-bottom:1px solid orange;
}

.post-image-wrapper-two {
	width:50%;
	height:100px;
	background-color: yellow;
	border-bottom:1px solid orange;
}

.post-image-wrapper-three { 
	width:100px;
	height:100px;
	background-color: yellow;
	border-bottom:1px solid orange;
 }

/*==========footer============*/
.post-footer-container{
	display: table;
	height: 30px;
	width: 100%;
	margin-top: 10px;
	border-top:1px solid lightgrey;
}
.post-first-block-like{
	display: table-cell;
	vertical-align: middle;
	width: 15%;
}
.like-label-container{

	font-family: roboto_bold;
	color:#4b4f56;
	font-size: 13px;
	letter-spacing: 0;
	cursor: pointer;
}
.like-label-container:hover{
	text-decoration: underline;
	color:#4b4f56;
}
.post-second-block-comment{
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	font-family: roboto_bold;
	color:#4b4f56;
	font-size: 13px;
	letter-spacing: 0;
	cursor: pointer;
}
.post-second-block-comment:hover{
	text-decoration: underline;
	color:#4b4f56;
}
.post-third-block-share{
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	font-family: roboto_bold;
	color:#4b4f56;
	font-size: 13px;
	letter-spacing: 0;
	cursor: pointer;
}
.post-third-block-share:hover{
	text-decoration: underline;
	color:#4b4f56;
}
.post-forth-block-blank{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

